body {
    font-family: sans-serif;
}
a{
    color: aquamarine;
}
header a{
    background-color: blueviolet;
}
footer a{
    color: chartreuse;
}
h1{
    display:flex;
    justify-content: center;
    background-image: linear-gradient(90deg, cyan, red);
}
